<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Proyectos + Flujo de programación + Equipos de trabajo + Trazabilidad del trabajo 
            y mucho mas en TrackGenix ¡Ingresa ahora! Interfaz Amigable. Rápido y Sólido.">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="../js/contact.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header class="header">
            <div class="header-container">
                <a href="#welcome-section">
                    <img class="header-logo" src="../assets/img/logo.png" alt="img radium rocket logo">
                </a>
                <h1>Trackgenix</h1>
                <button class="btn-hamburger">
                    <a href="./login.html">
                        <!-- <img class="hamburger-img" src="../assets/img/icon-hamburger.svg" alt="icon hamburger"> -->
                        <p>login</p>
                    </a>
                </button>
            </div>
            <nav class="header-nav">
                <ul class="header-nav-items">
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace vertical-align" href="#features">Features</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace" href="#why-should">Why Should You Use Trackgenix</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace vertical-align" href="#mission">History</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace vertical-align" href="#products">Products</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace vertical-align" href="#company">About Us</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-item-enlace vertical-align" href="#support">Support</a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <form class="aside-form">
                <input id="search" class="aside-input" type="search" name="search" placeholder="Search">
                <button class="btn-aside">
                    <img class="aside-icon-search" src="../assets/img/Vector-search.png" alt="image search logo">
                </button>
            </form>
            <h3 class="aside-menu">Menu</h3>
            <nav class="nav-aside">
                <ul class="nav-aside-content-item">
                    <li class="nav-aside-item">
                        <a class="nav-aside-item-enlace" href="./index.html">Home</a>
                    </li>
                    <li class="nav-aside-item">
                        <a class="nav-aside-item-enlace" href="./sign-up.html">Sign up</a>
                    </li>
                    <li class="nav-aside-item">
                        <a class="nav-aside-item-enlace" href="./login.html">Login</a>
                    </li>
                    <li class="nav-aside-item">
                        <a class="nav-aside-item-enlace" href="#inscription">Contact information</a>
                    </li>
                </ul>
            </nav>
            <img class="aside-logo" src="../assets/img/logo.png" alt="img radium rocket logo">
            <p class="aside-description-logo">Developed by GigaTech Software Solutions S.A.</p>
        </aside>
        <main class="main">
            <section id="welcome-section" class="welcome-section">
                <div class="background-welcome-blur"></div>
                <h2 class="welcome-section-title">Welcome</h2>
                <div class="welcome-container">
                    <img class="welcome-section-img" src="../assets/img/welcome.jpg" alt="Trackgenix main img">
                    <p class="welcome-section-description">
                        “Trackgenix” is a revolutionary system designed for GigaTech Software Solutions SA.
                        This system will allow them to efficiently manage their proyects, schedule flow, selected work
                        teams and much more.
                    </p>
                </div>
                <div class="border-bottom"></div>
            </section>
            <section id="features" class="features">
                <h2 class="features-title">Appiclation features</h2>
                <article class="features-container">
                    <div class="features-box">
                        <h3 class="features-box-title-img">Hours log</h3>
                        <img class="features-box-img" src="../assets/img/features1.png" alt="Hours log img">
                    </div>
                    <div class="features-box">
                        <h3 class="features-box-title-img">Reports</h3>
                        <img class="features-box-img" src="../assets/img/features2.png" alt="Reports img">
                    </div>
                    <div class="features-box">
                        <h3 class="features-box-title-img">Resource management</h3>
                        <img class="features-box-img" src="../assets/img/features3.png" alt="Resource management img">
                    </div>
                    <div class="features-box">
                        <h3 class="features-box-title-img">Multiple roles</h3>
                        <img class="features-box-img" src="../assets/img/features4.png" alt="Multiple roles img">
                    </div>
                </article>
                <div class="border-bottom"></div>
            </section>
            <section id="why-should" class="why-should">
                <h2 class="why-should-title">Why you should use Trackgenix?</h2>
                <article class="why-should-container">
                    <div class="why-should-background-img">
                        <img class="why-should-img" src="../assets/img/why-use-trackgenix1.png" 
                        alt="productivity booster img">
                    </div>
                    <div class="why-should-box">
                        <h3 class="why-should-box-subtitle">Productivity booster</h3>
                        <p class="why-should-box-description">
                            Be more productive using better Focus, Time Management,Organization and Efficiency
                        </p>
                    </div>
                </article>
                <article class="why-should-container">
                    <div class="why-should-background-img">
                        <img class="why-should-img" src="../assets/img/why-use-trackgenix2.png" 
                        alt="Work traceability">
                    </div>
                    <div class="why-should-box">
                        <h3 class="why-should-box-subtitle">Work traceability</h3>
                        <p class="why-should-box-description">
                            Keep track of specs, changes, requests, results, and versions
                        </p>
                    </div>
                </article>
                <article class="why-should-container">
                    <div class="why-should-background-img">
                        <img class="why-should-img" src="../assets/img/why-use-trackgenix3.png"
                        alt="Leadership and team management">
                    </div>
                    <div class="why-should-box">
                        <h3 class="why-should-box-subtitle">Leadership and team management</h3>
                        <p class="why-should-box-description">
                            Lead a group of people in accomplishing a task or common goal. Effective team management
                            involves supporting, communicating with and uplifting team members so they perform to the
                            best of their abilities and continue to grow as professionals.
                        </p>
                    </div>
                </article>
                <article class="why-should-container">
                    <div class="why-should-background-img">
                        <img class="why-should-img" src="../assets/img/why-use-trackgenix4.png" alt="Decision making">
                    </div>
                    <div class="why-should-box">
                        <h3 class="why-should-box-subtitle">Decision making</h3>
                        <p class="why-should-box-description">
                            Make better decisions for your business
                        </p>
                    </div>
                </article>
                <div class="border-bottom"></div>
            </section>
            <section id="inscription" class="inscription">
                <div class="inscription-container-title">
                    <h2 class="inscription-title">Inscription form</h2>
                    <div class="inscription-title-underline"></div>
                </div>
                <form id="form" class="inscription-form">
                    <div class="inscription-container-inputs">
                        <fieldset>
                            <input id="name" class="inscription-form-input" type="text" placeholder="Name">
                        </fieldset>
                        <fieldset>
                            <input id="email" class="inscription-form-input" type="email" placeholder="Email">
                        </fieldset>
                    </div>
                    <select id="formContact" class="inscription-form-select" name="contact">
                        <option hidden>Contact area</option>
                        <option value="rh">Human resource</option>
                        <option value="sy">Systems</option>
                        <option value="me">Merchandising</option>
                    </select>
                    <div class="inscription-container-checkbox">
                        <input type="checkbox" id="emailCopy">
                        <label for="emailCopy">Email me a copy</label>
                        <input type="checkbox" id="terms">
                        <label for="terms">I am a human and I accept terms of service</label>
                    </div>
                    <h4 class="inscription-form-subtitle">Text</h4>
                    <textarea class="inscription-form-textarea" id="messageTextarea" cols="30" rows="10"
                        placeholder="Enter your text here..."></textarea>
                    <button id="btnForm" class="inscription-form-btn">Send</button>
                </form>
                <div class="border-bottom"></div>
            </section>
            <section id="mission" class="mission">
                <h2 class="mission-title">Company’s Mission</h2>
                <div class="mission-container">
                    <div class="mission-box-subtitle">
                        <h3 class="mission-subtitle">Where we started;</h3>
                        <h3 class="mission-subtitle mission-subtitle-underline">where we are headed</h3>
                    </div>
                    <img class="mission-img" src="../assets/img/logo.png" alt="img radium rocket logo">
                </div>
                <article>
                    <h3 class="mission-h3">Make time your ally; make puntuality the difference</h3>
                    <p class="mission-description">
                        Our mission is to allow workers all over the world to reach their full potential.
                    </p>
                    <p class="mission-description">
                        Our goal is to bring more power to start-ups through top-notch and user-friendly
                        time-tracking web apps, easily accessible through any device.
                    </p>
                    <p class="mission-description">
                        We believe in integrity, honesty, passion for our client’s ideas and communication.
                    </p>
                </article>
                <article>
                    <h3 class="mission-title-quote">Hear what they say about us</h3>
                    <div class="container-cite">
                        <q class="quote-description">
                            TrackGenix allows us to effortlessly and easily track total workflow in each of our
                            projects and make a balanced distribution of team workload.
                        </q>
                        <cite class="mission-cite">-Satisfied Customer</cite>
                    </div>
                </article>
            </section>
            <section class="about-us">
                <h3 class="about-us-title">About us</h3>
                <article class="abuot-us-container">
                    <div class="about-us-subcontainer">
                        <p class="about-us-description">
                            RadiumRocket developed TrackGenix as a software solution for optimal time-tracking
                            and project management as a request for one of its most trusted clients, GigaTech
                            Software Solutions, in late 2021, and swiftly became one of the most requested services
                            in all of the million-dollar South American productivity industry.
                            RadiumRocket are a group of passionate people fond of the latest cutting edge technologies
                            in software development. They position ourselves at your side through all the process of
                            development being responsible and co-workers with you to successfully get your product
                            moving.
                        </p>
                        <img class="about-us-img" src="../assets/img/about-us.jpg"
                            alt="illustrative image that reflects security">
                    </div>
                    <div class="border-bottom"></div>
                </article>
            </section>    
            <section id="products" class="products">
                <h2 class="title">Our products</h2>
                <div class="container">
                    <article class="products-box">
                        <img class="products-img" src="../assets/img/our-product-1.png"
                            alt="Illustrative image of employee control with mobile devices">
                        <div class="products-container-description">
                            <h3 class="produts-subtitle">Employee time control from any place and device</h3>
                            <p class="products-descripton">A single app for recording the day for any situation:</p>
                            <ul class="products-list-unordered">
                                <li class="products-list-unordered-item">Web</li>
                                <li class="products-list-unordered-item">Mobile app</li>
                                <li class="products-list-unordered-item">Kiosk with tablet</li>
                                <li class="products-list-unordered-item">Biometric recognition devices</li>
                            </ul>
                        </div>
                    </article>
                    <article class="products-box">
                        <img class="products-img" src="../assets/img/our-product-2.png" 
                        alt="illustrative image of time records">
                        <div class="products-container-description">
                            <h3 class="produts-subtitle">Customized working day registration policies</h3>
                            <p class="products-descripton">
                                Customize the mandatory registration of the working day with a
                                completely flexible app to clock in at work. Apply more restrictive measures:
                            </p>
                            <ul class="products-list-unordered">
                                <li class="products-list-unordered-item">Expected transfer in one click</li>
                                <li class="products-list-unordered-item">Weekly massive transfer</li>
                                <li class="products-list-unordered-item">Flexible entry and exit</li>
                            </ul>
                        </div>
                    </article>
                    <article class="products-box">
                        <img class="products-img" src="../assets/img/our-product-3.png"
                            alt="image of how to record hours from a cell phone">
                        <div class="products-container-description">
                            <h3 class="produts-subtitle">The most intuitive time control app</h3>
                            <p class="products-descripton">
                                Registration of the day from anywhere to promete teleworking and selfmanagement
                                fo time.
                            </p>
                            <ul class="products-list-unordered">
                                <li class="products-list-unordered-item">24 hour access from anywhere</li>
                                <li class="products-list-unordered-item">Geolocated transfer detection system</li>
                                <li class="products-list-unordered-item">Instant notifications and alerts</li>
                            </ul>
                        </div>
                    </article>
                    <article class="products-box">
                        <img class="products-img" src="../assets/img/our-product-4.png"
                            alt="illustrative image of project management">
                        <div class="products-container-description">
                            <h3 class="produts-subtitle">Project management done well</h3>
                            <p class="products-descripton">
                                Advanced controls and features to effortlessly control all your project
                            </p>
                            <ul class="products-list-unordered">
                                <li class="products-list-unordered-item">Browse between different projects</li>
                                <li class="products-list-unordered-item">Equipped with graphs and tables</li>
                            </ul>
                        </div>
                    </article>
                    <div class="border-bottom"></div>
                </div>
            </section>
            <section id="company" class="company">
                <h2 class="title">Company</h2>
                <div class="container">
                    <article class="company-article">
                        <img class="company-img" src="../assets/img/company1.png" alt="image of two skyscrapers">
                        <div class="company-container-description">
                            <h4 class="company-subtitle">GigaTech software solutions SA building.</h4>
                            <p class="company-description">
                                Trackgenix is a HR software company that streamlines human resource management for
                                clients in more than 1,200 cities around the world.
                            </p>
                        </div>
                    </article>
                    <article class="company-flex-end company-article">
                        <div class="company-container-description">
                            <h4 class="company-subtitle">An inclusive workplace for everyone.</h4>
                            <p class="company-description">
                                Get to know our team and our offices and join us in our leap towards better human
                                resources management.Learn how companies from all sectors already manage talent
                                in a more efficient and humane way with our human resources software.
                            </p>
                        </div>
                        <img class="company-img" src="../assets/img/company2.png" alt="image of two skyscrapers">
                    </article>
                    <article class="company-article">
                        <img class="company-img" src="../assets/img/company3.png" alt="image of two skyscrapers">
                        <div class="company-container-description">
                            <h4 class="company-subtitle">Our workplace, our world.</h4>
                            <p class="company-description">
                                Trackgenix was created remotely in 2008 by Yves Hiernaux and Mic Cvilic after many
                                years of working with hard-to-manage and even harder-to-understand reports and
                                timesheets. Although we have grown, we continue with the same goal of offering
                                a flexible, reliable and easy-to-use time control tool.
                            </p>
                        </div>
                    </article>
                    <div class="border-bottom"></div>
                </div>
            </section>
            <section id="support" class="support">
                <h2 class="title">Support</h2>
                <div class="container">
                    <article class="support-article">
                        <img class="support-img" src="../assets/img/support2.png" 
                        alt="Illustrative image of 24 hour support">
                        <p class="support-description-img">24h support by online chat-bot</p>
                    </article>
                    <article class="support-article">
                        <img class="support-img" src="../assets/img/support1.png" alt="video conference image">
                        <p class="support-description-img">
                            Phone call or Video conference support from 8am to 4pm everyday
                        </p>
                    </article>
                </div>
            </section>
            <section class="tutorials">
                <h2 class="title">Tutorials</h2>
                        <ol class="tutorials-order-list">
                            <li>
                                <div class="tutorials-item">
                                    TrackGenix: Quick start guide
                                    <div class="tutorials-time">5:10</div>
                                </div>
                            </li>
                            <li>
                                <div class="tutorials-item">
                                    How to set up TrackGenix for your company: In-depth guide
                                    <div class="tutorials-time">31:02</div>
                                </div>
                            </li>
                            <li>
                                <div class="tutorials-item">
                                    Project management using TrackGenix
                                    <div class="tutorials-time">22:15</div>
                                </div>
                            </li>
                            <li>
                                <div class="tutorials-item">
                                    Unlocking max productivity: Advanced tips and tricks for workers
                                    <div class="tutorials-time">12:40</div>
                                </div>
                            </li>
                            <li>
                                <div class="tutorials-item">
                                    Report reviews guide
                                    <div class="tutorials-time">09:10</div>
                                </div>
                            </li>
                            <li>
                                <div class="tutorials-item">
                                    Google calendar & other web services integration
                                    <div class="tutorials-time">11:25</div>
                                </div>
                            </li>
                        </ol>
                <button class="tutorials-btn">
                    <a class="tutorials-btn-youtube" href="https://www.youtube.com/" target="_blank">
                        Browse full playlist on YouTube
                    </a>
                </button>
            </section>
        </main>
        <footer class="footer">
            <ul class="footer-social-media">
                <li class="footer-social-media-item">
                    <a href="#">
                        <img class="footer-icon" src="../assets/img/Facebook.png" alt="Facebook img">
                    </a>
                </li>
                <li class="footer-social-media-item">
                    <a href="#">
                        <img class="footer-icon" src="../assets/img/Twitter.png" alt="Twitter img">
                    </a>
                </li>
                <li class="footer-social-media-item">
                    <a href="#">
                        <img class="footer-icon" src="../assets/img/Instagram.png" alt="Instagram img">
                    </a>
                </li>
                <li class="footer-social-media-item">
                    <a href="#">
                        <img class="footer-icon" src="../assets/img/LinkedIn.png" alt="Linkedin img">
                    </a>
                </li>
            </ul>
            <div class="footer-copyright">
                <p class="footer-copyright-description">Rosario, Argentina</p>
                <p class="footer-copyright-description">Copyright © 2022 Radium Rocket. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>