body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    width: 1512px;
    height: 91px;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .logo {
    position: absolute;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
}

h1 {
    position: absolute;
    height: 70px;
    left: 573px;
    top: 9px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #46A07B;
    text-transform: uppercase;
}

.nav-main {
    position: fixed;
    top: 91px;
    z-index: 10;
    width: 1512px;
}

.btn-nav {
    display: none;
}

.nav-items {
    height: 55px;
    margin-left: 253px;
    background-color: #373867;
}

.nav-item {
    height: 100%;
    float: left;
    width: 207px;
    text-align: center;
    border-left: 2px solid #000;
}


.nav-item a {
    text-decoration: none;
    font-size: 20px;
    line-height: 23px;
    color: #479679;
}

aside {
    position: fixed;
    top: 0;
    width: 253px;
    height: 100%;
    background-color: rgba(55, 56, 103, 0.1);
}

aside h3 {
    color: #373867;
    font-size: 19.37px;
    font-weight: 700;
    position: absolute;
    top: 169px;
    left: 100px;
}

.input-aside {
    position: absolute;
    width: 236px;
    height: 30.49px;
    top: 116px;
    left: 9px;
    border-radius: 3.42px;
    border: 1px solid #444;
}

.btn-aside {
    position: absolute;
    top: 123px;
    right: 9px;
    border: none;
    background-color: transparent;
}

.nav-aside {
    position: absolute;
    top: 200px;
    left: 32px;
    text-align: center;
}

.nav-aside--li {
    padding: 18.21px;
    border-bottom: 1px solid #444;
}

.nav-aside--li a {
    color: #479679;
    text-decoration: none;
    font-size: 16.27px;
}

.nav-aside--li:last-child {
    border-bottom: none;
}

.logo-aside {
    position: absolute;
    top: 609px;
    left: 90px;
}

.p-aside {
    position: absolute;
    top: 710px;
    left: 10px;
    font-size: 11px;
}


main {
    left: 253px;
    position: relative;
    width: 1259px;

}

#welcome-section {
    height: 894px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    position: relative;
    top: 149px;
}

#welcome-section h2 {
    text-align: center;
    padding: 10px 38px;
    display: inline-block;
    background-color: rgba(170, 206, 155, 0.53);
    left: 470.47px;
    margin: 48px 0;
    position: relative;
    color: #373867;
    font-size: 49.36px;
    border: 4px solid #a09b9b;
    border-radius: 20px;
    text-transform: uppercase;
}

#welcome-section p {
    font-size: 28.25px;
    width: 546px;
    position: absolute;
    line-height: 41px;
    top: 268px;
    left: 134px;
    letter-spacing: 1px;
    color: #373867;
}

#welcome-section img {
    width: 500px;
    height: 272.5px;
    position: absolute;
    top: 257.56px;
    left: 724.8px;
}

.border-bottom {
    height: 1px;
    position: absolute;
    top: 767px;
    left: 104.5px;
    width: 1050px;
    background-color: #444;
}

#features {
    position: relative;
    top: 135px;
    height: 982px;
}

#features h2 {
    font-weight: 700;
    font-size: 40px;
    color: #373867;
    margin: 0 0 49px 100px;
}

.features-box {
    display: inline-block;
    width: 592px;
    height: 350px;
    text-align: center;
}

.features-box h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 24px;
    color: #373867;
}

.features-box img {
    background-color: rgba(170, 206, 155, 0.3);
    padding: 12px;
    border-radius: 20px;
    width: 225px;
    height: 211px;
}

#whyShould {
    position: relative;
    height: 982px;
    top: 135px;
}