body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    width: 1512px;
    height: 91px;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .logo {
    position: absolute;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
}

h1 {
    position: absolute;
    height: 70px;
    left: 573px;
    top: 9px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #46A07B;
    text-transform: uppercase;
}

.nav-main {
    position: fixed;
    top: 91px;
    z-index: 10;
    width: 1512px;
}

.btn-nav {
    display: none;
}

.nav-items {
    height: 55px;
    margin-left: 253px;
    background-color: #373867;
}

.nav-item {
    height: 100%;
    float: left;
    width: 207px;
    text-align: center;
    border-left: 2px solid #000;
}


.nav-item a {
    text-decoration: none;
    font-size: 20px;
    line-height: 23px;
    color: #479679;
}

.nav-item a:hover {
    color: aliceblue;
}

aside {
    position: fixed;
    top: 0;
    width: 253px;
    height: 100%;
    background-color: rgba(55, 56, 103, 0.1);
}

aside h3 {
    color: #373867;
    font-size: 19.37px;
    font-weight: 700;
    position: absolute;
    top: 169px;
    left: 100px;
}

.input-aside {
    position: absolute;
    width: 236px;
    height: 30.49px;
    top: 116px;
    left: 9px;
    border-radius: 3.42px;
    border: 1px solid #444;
}

.btn-aside {
    position: absolute;
    top: 123px;
    right: 9px;
    border: none;
    background-color: transparent;
}

.nav-aside {
    position: absolute;
    top: 200px;
    left: 32px;
    text-align: center;
}

.nav-aside--li {
    padding: 18.21px;
    border-bottom: 1px solid #444;
}

.nav-aside--li a {
    color: #479679;
    text-decoration: none;
    font-size: 16.27px;
}

.nav-aside--li:last-child {
    border-bottom: none;
}

.logo-aside {
    position: absolute;
    top: 609px;
    left: 90px;
}

.p-aside {
    position: absolute;
    top: 710px;
    left: 10px;
    font-size: 11px;
}


main {
    left: 253px;
    position: relative;
    width: 1259px;

}

#welcome-section {
    height: 894px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    position: relative;
    top: 149px;
}

#welcome-section h2 {
    text-align: center;
    padding: 10px 38px;
    display: inline-block;
    background-color: rgba(170, 206, 155, 0.53);
    left: 470.47px;
    margin: 48px 0;
    position: relative;
    color: #373867;
    font-size: 49.36px;
    border: 4px solid #a09b9b;
    border-radius: 20px;
    text-transform: uppercase;
}

#welcome-section p {
    font-size: 28.25px;
    width: 546px;
    position: absolute;
    line-height: 41px;
    top: 268px;
    left: 134px;
    letter-spacing: 1px;
    color: #373867;
}

#welcome-section img {
    width: 500px;
    height: 272.5px;
    position: absolute;
    top: 257.56px;
    left: 724.8px;
}

.border-bottom {
    height: 1px;
    position: absolute;
    top: 767px;
    left: 104.5px;
    width: 1050px;
    background-color: #444;
}

#features {
    position: relative;
    top: 135px;
    height: 982px;
}

#features h2 {
    font-weight: 700;
    font-size: 40px;
    color: #373867;
    margin: 0 0 49px 100px;
}

.features-box {
    display: inline-block;
    width: 592px;
    height: 350px;
    text-align: center;
}

.features-box h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 24px;
    color: #373867;
}

.features-box img {
    background-color: rgba(170, 206, 155, 0.3);
    padding: 12px;
    border-radius: 20px;
    width: 225px;
    height: 211px;
}

#whyShould {
    position: relative;
    height: 982px;
    top: 60px;
}

.whyShould-title {
    font-weight: 700;
    font-size: 40px;
    color: #373867;
    text-align: center;
    margin-bottom: 120px;
}

.whyShould-article {
    float: left;
    width: 50%;
    height: 250px;
}

.whyShould-backgroundImg1,
.whyShould-backgroundImg2,
.whyShould-backgroundImg3,
.whyShould-backgroundImg4 {
    position: absolute;
    height: 118px;
    width: 118px;
    background-color: rgba(170, 206, 155, 0.3);
    transform: rotate(45deg);
}

.whyShould-backgroundImg1 {
    top: 160px;
    left: 53px;
    height: 134px;
}

.whyShould-backgroundImg2 {
    top: 154px;
    left: 658px;
}

.whyShould-backgroundImg3 {
    top: 419px;
    left: 41px;
}

.whyShould-backgroundImg4 {
    top: 406px;
    left: 681px;
}

.whyShould-img {
    margin: 0 50px;
    position: relative;
    vertical-align: top;
}

.whyShould-box {
    display: inline-block;
    width: 60%;
}

.shyShould-box--subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}

.whyShould-box--p {
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}

#inscription {
    position: relative;
    height: 982px;
}

.inscrption-title {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0 0 49px 100px
}

.inscrption-form {
    margin: 0 0 0 100px;
}

.form-input {
    border: 1px solid #373867;
    border-radius: 4px;
    padding: 10px 12px;
    width: 500px;
}

.form-input:first-child {
    margin-right: 29px;
}

.form-select {
    display: block;
    border: 1px solid #373867;
    border-radius: 4px;
    width: 1084px;
    padding: 10px 12px;
    margin: 20px 0 70px 0;
}

.form-label {
    font-weight: 500;
    font-size: 13px;
}


.content-switch {
    display: inline-block;
    width: 48%;
}

.content-switch p {
    display: inline-block;
    vertical-align: sub;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #373867;
}

input:focus+.slider {
    box-shadow: 0 0 1px #373867;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.div {
    display: inline-block;
    text-align: center;
}

.inscription-subtitle {
    font-weight: 800;
    font-size: 16px;
    margin: 50px 0 20px 0;
}

.form-textarea {
    width: 1084px;
    display: block;
    border-radius: 4px;
}

.form-btn {
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #373867;
    border: none;
}

.form-btn:hover {
    color: #373867;
    background-color: #ebe6e6;
    border: 2px solid #373867;
    transition: all .2s;
}

#mission {
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    position: relative;
    height: 982px;
}

.mission-title {
    padding-top: 38px;
    margin-left: 44px;
    font-weight: 700;
    font-size: 24px;
}

.mission-subtitle {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #373867;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 20px 44px;
}

.mission-img {
    margin-left: 130px;
    width: 112px;
    height: 115.45px;
}

.mission-h3 {
    font-weight: 600;
    font-size: 18px;
    color: #151515;
    font-style: italic;
    text-align: center;
    margin: 0 0 24px 44px;
}

.mission-description {
    margin-left: 44px;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    color: #1C1C37
}

.mission-title-quote {

    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
    margin: 40px 0 19px 44px;
}

.container-cite {
    margin-left: 44px;
    border-radius: 7px;
    background-color: rgba(217, 217, 217, 0.2);
    height: 77px;
    padding: 10px;
}

.quote-description {
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
}

.mission-cite {
    position: relative;
    top: 16px;
    display: inline-block;
    left: 950px;
    font-size: 17px;
}

.aboutUs-title {
    font-weight: 700;
    font-size: 24px;
    color: #373867;
    margin: 80px 0 38px 44px;
}

.aboutUs-description {
    margin-left: 44px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #373867;
    width: 60%;
    display: inline-block;
}

.aboutUs-img {
    width: 385px;
    height: 238px;
    margin-left: 58px;
}

#products {
    position: relative;
    height: 982px;
}

.products-title {
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin: 0 0 49px 60px;
}

.products-box {
    float: left;
    width: 50%;
    text-align: center;
    height: 450px;
}

.products-img {
    width: 350px;
}

.produts-subtitle {
    color: red;
}

.products-descripton {
    color: red;
}

#company {
    height: 1300px;
    position: relative;
    margin-left: 49px;
}

.company-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 60px;
}

.company-img {
    width: 477px;
    height: 304px;
    margin-right: 30px;
}

.company-container-description {
    display: inline-block;
    width: 50%;
    position: relative;
    bottom: 100px;
}

.company-subtitle {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.company-description {
    font-size: 21px;
    line-height: 25px;
}

.border-bottom-company {
    height: 1px;
    position: absolute;
    bottom: 139px;
    left: 53px;
    width: 1050px;
    background-color: #444;
}

#support {
    position: relative;
    height: 982px;
    margin-left: 49px;
}

.support-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 60px;
    text-decoration: underline;
}

.support-description-img {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    width: 500px;
    margin-top: 30px;
}

.float {
    float: left;
    width: 50%;
}

.inline-block {
    display: inline-block;
    margin-top: 74px;
}

.support-second-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 49px;
}

.support-container-items {
    list-style: auto;
    margin-left: 86px;
    display: inline-block;
    width: 830px;
}

.support-item {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.container-support-time {
    display: inline-block;
    position: relative;
    left: 57px;
}

.support-time {
    font-weight: 700;
    font-size: 26px;
    color: #1D22EC;
    line-height: 31px;
}

.support-btn {
    border: none;
    padding: 40px;
    background: #98220D;
    box-shadow: 0px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 30px;
    margin: 100px 0 0 350px;
}

.support-btn a {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
}

footer {
    margin: 150px 0 0 253px;
    width: 1259px;
    height: 74px;
    background-color: #373867;
}

.social-media {
    display: inline-block;
    position: relative;
    top: 12px;
    left: 400px;
    text-align: center;
}

.social-media-item {
    float: left;
    width: 120px;
}

.copyright-footer {
    height: 70px;
    margin: 100px;
    text-align: center;
}

.copyright-footer-p {
    font-weight: 700;
    font-size: 14px;
    margin: 14px;
}