.aside{
    display: none;
}
@media (min-width: 768px) {
    .aside{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 91px;
        height: 100vh;
        width: 30%;
        background-color:#3738671a;
    }
}